<h3 class="text-center my-3">Agregar Chofer</h3>
<div class="p-3">
    <form class="py-3 px-2" [formGroup]="choferForm" (ngSubmit)="metodo()">
        <input style="background-color: #5d77bea4;" class="form-control mb-3" type="number" placeholder="Código" formControlName="codigo" />
        <input style="background-color: #5d77bea4;" class="form-control mb-3" type="text" placeholder="Cédula" formControlName="cedula" />
        <input style="background-color: #5d77bea4;" class="form-control mb-3" type="text" placeholder="Nombres" formControlName="nombres" />
        <input style="background-color: #5d77bea4;" class="form-control mb-3" type="text" placeholder="Apellidos" formControlName="apellidos" />
        <input style="background-color: #5d77bea4;" class="form-control mb-3" type="date" placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento" />
        <input style="background-color: #5d77bea4;" class="form-control mb-3" type="number" placeholder="Años de Conducción" formControlName="aniosConduccion" />
        <div class="d-flex justify-content-center">
          <button class="btn text-light mx-1 w-50" type="button" style="background-color: #541b2b;" (click)="limpiar()">
            Cancelar
          </button>
          <button class="btn btn-success mx-1 w-50" type="submit">
            Insertar
          </button>
        </div>
      </form>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div  #liveToast class="toast bg-dark text-light" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-dark text-light">
      <img src="assets/img/chofer.png" class="rounded me-2" alt="..." width="20" height="20">
      <strong class="me-auto">{{ title }}</strong>
      <small>{{ tipoT }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ description }}
    </div>
  </div>
</div>