<h3 class="text-center my-3">Agregar Bus</h3>
<div style="width: 100%;">
    <div class="p-3">
        <form [formGroup]="miFormulario" (ngSubmit)="metodo()">
            <input class="form-control mb-3" type="number" placeholder="Código" formControlName="codigo" style="background-color: #5d77bea4;" />
            <input class="form-control mb-3" type="text" placeholder="Placa" formControlName="placa" style="background-color: #5d77bea4;" />
            <input class="form-control mb-3" type="text" placeholder="Tipo: Urbano; Provincial" formControlName="tipo" style="background-color: #5d77bea4;" />
            <input class="form-control mb-3" type="text" placeholder="Estado" formControlName="estado" style="background-color: #5d77bea4;" />
            <div class="d-flex justify-content-center">
              <button class="btn text-light mx-1 w-50" type="button" style="background-color: #541b2b;" (click)="limpiar()">
                Cancelar
              </button>
              <button class="btn btn-success mx-1 w-50" type="submit">
                Insertar
              </button>
            </div>
          </form>
          
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div  #liveToast class="toast bg-dark text-light" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-dark text-light">
      <img src="assets/img/bus.png" class="rounded me-2" alt="..." width="20" height="20">
      <strong class="me-auto">{{ title }}</strong>
      <small>{{ tipoT }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ description }}
    </div>
  </div>
</div>
